<section id="education" class="py-8 bg-lightgray"> <!-- Set a light gray background -->
  <h2 class="text-3xl font-bold text-gray-800 text-center mb-6">EDUCATION</h2>
  <div class="mt-8 max-w-2xl mx-auto">
    <div class="education-card mb-6">
      <h3 class="text-xl font-semibold cursor-pointer">Bachelor of Technology in Computer Science</h3>
      <p class="text-gray-600">JIIT, Noida</p>
      <p class="text-gray-600">2020 - 2024</p>
      <p class="text-gray-600">CGPA: 8.1</p>
    </div>
    <div class="education-card">
      <h3 class="text-xl font-semibold cursor-pointer">Class XII</h3>
      <p class="text-gray-600">Translam Academy International, Meerut</p>
      <p class="text-gray-600">2018</p>
      <p class="text-gray-600">Percentage: 93.6%</p>
    </div>
  </div>
</section>
