<div id="about" class="py-16 bg-gray-100">
  <h2 class="text-3xl font-bold text-gray-800 text-center">ABOUT ME</h2>

  <div class="mt-8 max-w-2xl mx-auto">
    <div class="bg-white p-6 rounded-lg shadow-lg transition-transform transform hover:scale-105">
      <p class="text-lg text-gray-600 text-justify">
        I am a graduate of Jaypee Institute of Information Technology, passionate about leveraging data to drive insights and solutions. With strong proficiency in Python, SQL, and Power BI, I thrive in collaborative environments where innovation and teamwork are key. I have a keen interest in emerging technologies and am committed to continuous learning to stay ahead in the fast-paced tech landscape. My goal is to contribute effectively to impactful projects and help shape the future of technology.
      </p>
    </div>
  </div>
</div>
